<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Immfly Trivia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="bootstrap.min.css">

        <link rel="stylesheet" href="main.css">

    </head>
    <body>


        <main ng-controller="myController">

            <ul class="questions" ng-if="questions && !show_result">
                <li ng-repeat="q in questions" class="question" ng-style="{'margin-top': $index === 0 ? getMargin() : 0}">
                    <p class="count">{{$index +1}} / {{questions.length}}</p>
                    <p ng-bind-html="q.question"></p>
                    <ul class="answers">
                        <li class="answer" 
                            ng-bind-html="i"
                            ng-repeat="i in q.display_answers" 
                            ng-class="{'selected' : q.selected == $index}" 
                            ng-click="next();q.selected = $index;"></li>
                    </ul>
                    <a href ng-click="back()" ng-show="$index !== 0" class="back">Back to previous question</a>
                </li>
            </ul>

            <div ng-if="show_result" class="result_page">
                <p class="congratulations">Congratulations!</p>
                <p class="score">Your score is <br/><strong>{{getScore()}} out of {{questions.length}}</strong></p>
                <a href class="back" ng-click="reset()">Try again</a>
            </div>

            <div ng-if="!questions" class="choose-category">
                <p class="count">Choose category</p>
                <ul class="answers">
                    <li class="answer category" ng-repeat="category in categories" ng-click="load(category.id)">{{category.name}}</li>
                </ul>
            </div>

        </main>

        <script src="angular.js"></script>
        <script src="angular-sanitize.js"></script>
        <script src="main.js"></script>

    </body>
</html>