*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;      
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;    
    font-weight: 400;
    color: #212529;  
}
.questions{
    height: 100vh;
    width: 100vw;
    overflow: hidden;        
}

.question{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s margin-top;     
    padding: 20px;   
}

.question p{
    text-align: center;
    line-height: 1.3;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.answers{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;       
}

.answer{
    width: calc(50% - 10px);
    text-align: center;
    border: 1px solid #333;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer.category{
    width: 100%;   
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;             
}

.answer:hover, .selected{
    outline: 2px solid #333;
    cursor: pointer;
}

.back{
    color: #4578BF;
    text-decoration: none;
    cursor: pointer;
}

.count{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.result_page{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.congratulations{
    font-size: 6vw;
    margin: 20px;
}

.score{
    font-size: 8vw;
    margin: 0;
    text-align: center;
}

.choose-category{
    padding: 20px;           
}

.choose-category .count{
    margin-bottom: 20px;
    text-align: center;
}